body {
  margin: 0;
  padding: 0;
}

.background {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 500px;
  width: 500px;
  margin: auto;
  background-color: rgb(255, 214, 161);
}

.fox {
  left: 0;
  top: 205px;
  position: relative;
  height: 255px;
  width: 200px;
  background-color: rgb(253, 62, 62);
  margin: auto;
  border-radius: 50% 50% 15% 15%;
  z-index: 3;
}

.foxhead {
  position: relative;
  height: 172px;
  width: 250px;
  margin: auto;
  left: -28px;
  right: 0;
  top: -90px;
  background-color: rgb(253, 62, 62);
  border-radius: 50%;
  border-bottom: 13px solid rgb(195, 195, 195);
  animation: nudge 1.8s linear infinite alternate;
  z-index: 2;
}

.fox-ear-left {
  position: relative;
  transform: rotate(-40deg);
  left: -40px;
  bottom: 40px;
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 100px solid rgb(0, 0, 0);
  z-index: -1;
}

.fox-ear-right {
  position: relative;
  transform: rotate(40deg);
  right: -170px;
  bottom: 210px;
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 100px solid rgb(0, 0, 0);
  z-index: -1;
}

.fox-ear-left-inner {
  position: relative;
  transform: rotate(-40deg);
  left: -22px;
  bottom: 128px;
  width: 0;
  height: 3px;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 70px solid pink;
  z-index: -1;
}

.fox-ear-left-inner-ear {
  position: relative;
  height: 50px;
  width: 122px;
  right: 61px;
  bottom: -65px;
  background-color: rgb(253, 62, 62);
  border-radius: 50%;
}

.fox-ear-right-inner {
  position: relative;
  transform: rotate(40deg);
  right: -192px;
  bottom: 299px;
  width: 0;
  height: 3px;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 70px solid pink;
  z-index: -1;
}

.fox-ear-right-inner-ear {
  position: relative;
  height: 44px;
  width: 123px;
  right: 62px;
  bottom: -65px;
  background-color: rgb(253, 62, 62);
  border-radius: 50%;
}

.foxface {
  width: 150px;
  height: 70px;
  background-color: white;
  position: relative;
  margin: auto;
  left: -64px;
  bottom: 254px;
  box-shadow: 134px 0 0 white, 64px 19px 0 white;
  border-radius: 50%;
  transform: rotate(0deg);
}

.foxface::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-color: white;
  position: relative;
  margin: auto;
  left: -48px;
  bottom: -10px;
  border-radius: 0px 100% 100% 100%;
  transform: rotate(-48deg);
}

.foxface::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-color: white;
  position: relative;
  margin: auto;
  left: 181px;
  bottom: 80px;
  border-radius: 0px 100% 100% 100%;
  transform: rotate(138deg);
}

.fox-eye {
  height: 30px;
  width: 20px;
  background-color: black;
  position: relative;
  bottom: 65px;
  left: 73px;
  border-radius: 50%;
  box-shadow: 110px 0 0 black;
}

.fox-nose {
  height: 10px;
  width: 20px;
  position: relative;
  background-color: black;
  border-radius: 25px 25px 80px 80px;
  bottom: 55px;
  left: 132px;
}

.fox-chest-fur {
  position: relative;
  margin: auto;
  height: 155px;
  width: 155px;
  background-color: white;
  border-radius: 0 50% 50% 50%;
  bottom: 180px;
  z-index: -1;
  transform: rotate(-133deg);
}

.fox-chest-fur::before {
  content: "";
  display: block;
  position: relative;
  margin: auto;
  height: 100px;
  width: 100px;
  background-color: rgb(255, 255, 255);
  border-radius: 0 50% 50% 50%;
  bottom: 17px;
  left: 11px;
  z-index: -1;
  transform: rotate(-3deg);
}

.fox-chest-fur::after {
  content: "";
  display: block;
  position: relative;
  margin: auto;
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 0 50% 50% 50%;
  bottom: 58px;
  left: -41px;
  z-index: -1;
  right: 47px;
  transform: rotate(-4deg);
}

.fox-feet-left {
  height: 50px;
  width: 35px;
  position: relative;
  background-color: black;
  border-radius: 25% 25% 100% 100%;
  left: 45px;
  bottom: 135px;
  transform: rotate(-10deg);
}

.fox-feet-right {
  height: 50px;
  width: 35px;
  position: relative;
  background-color: black;
  border-radius: 25% 25% 100% 100%;
  left: 115px;
  bottom: 185px;
  transform: rotate(10deg);
}

.fox-tail {
  position: relative;
  height: 180px;
  width: 115px;
  background-color: rgb(209, 52, 52);
  bottom: -39px;
  left: 293px;
  border-radius: 50%;
  transform: rotate(45deg);
  animation: tailswish 1s infinite alternate-reverse;
}

.fox-tail-tip {
  height: 80px;
  width: 80px;
  position: relative;
  background-color: rgb(255, 255, 255);
  border-radius: 0 50% 50% 50%;
  left: 3px;
  top: -11px;
  transform: rotate(19deg);
}

@keyframes nudge {
  100% {
    transform: translate(0px, 10px);
  }
}

@keyframes tailswish {
  100% {
    transform: rotate(40deg);
    transform-origin: 50% 45%;
  }
}
