body {
  margin-left: 5em;
  margin-right: 5em;
}

.wrapper {
  background-color: rgb(251, 251, 251);
  display: grid;
  grid-template-columns: 40% 60%;
  margin-top: 3em;
  height: 700px;
}

.signup-info {
  background: rgb(170, 135, 227);
  background: linear-gradient(
    167deg,
    rgba(170, 135, 227, 1) 40%,
    rgba(115, 95, 205, 1) 90%
  );
  height: 100%;
  background-color: red;
  border-radius: 10px 0 0 10px;
  padding-left: 4em;
}

.signup-info i.fas {
  color: #bfa1ea;
  background-color: white;
  font-size: 30px;
  border-radius: 50%;
}

.info-text {
  margin-top: 3em;
  color: white;
  font-family: "Roboto", sans-serif;
  width: 60%;
}

.info-text h4 {
  font-size: 16px;
}

.info-text p {
  font-size: 15px;
}

.signup-input {
  font-family: "Robot", sans-serif;
  padding-left: 5em;
  padding-top: 3em;
  padding-right: 5em;
}

.signup-input h1 {
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 40px;
}

.signup-input input {
  margin-top: 1em;
  margin-bottom: 2em;
  padding: 15px 10px;
  width: 80%;
}

.signup-info label {
  font-size: 15px;
}

button {
  font-family: "Robot", sans-serif;
  width: 510px;
  height: 4em;
  background-color: #735fcd;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  outline: none;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

input.checkbox {
  height: 25px;
  width: 25px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: baseline;
}
