body {
  margin: 0;
  padding: 0;
}

.canvas {
  height: 500px;
  width: 500px;
  background-color: rgb(251, 242, 229);
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.coffee-cup {
  position: relative;
  margin: auto;
  background-color: black;
  top: 140px;
  border-bottom: 145px solid burlywood;
  border-left: 15px solid rgb(251, 242, 229);
  border-right: 15px solid rgb(251, 242, 229);
  height: 0;
  width: 180px;
  transform: rotate(180deg);
}

.face {
  background-color: burlywood;
  margin: auto;
  top: 25px;
  height: 100px;
  width: 150px;
  position: relative;
}

.eye-left,
.eye-right {
  border-radius: 50%;
  background-color: black;
  height: 70px;
  width: 70px;
  position: relative;
  display: inline-block;
  margin: auto;
  top: 15px;
  left: 96px;
}

.eye-left {
  margin-right: -180px;
}

.eye-highlights-upper {
  height: 35px;
  width: 35px;
  position: relative;
  background-color: white;
  border-radius: 30px;
  top: 26px;
  left: 30px;
}

.eye-highlights-lower {
  height: 10px;
  width: 10px;
  position: relative;
  background-color: white;
  border-radius: 30px;
  bottom: 24px;
  left: 18px;
}

.mouth {
  height: 30px;
  width: 30px;
  background-color: black;
  position: relative;
  bottom: 58px;
  left: 63px;
  border-top-right-radius: 11px;
  border-top-left-radius: 11px;
}

.mouth-inner {
  background-color: pink;
  height: 20px;
  width: 24px;
  position: relative;
  bottom: -1px;
  left: 2px;
  border-bottom-right-radius: 14px;
  border-top-left-radius: 13px;
  border-top-right-radius: 11px;
}

.coffee-base {
  position: relative;
  background-color: white;
  width: 166px;
  left: 0;
  right: 0;
  margin: auto;
  top: 140px;
  height: 37px;
  width: 180px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
}

.coffee-top {
  position: relative;
  width: 210px;
  background-color: white;
  margin: auto;
  left: 0;
  right: 0;
  top: 140px;
  z-index: 1;
  border-top: 52px solid white;
  border-left: 7px solid rgb(251, 242, 229);
  border-right: 7px solid rgb(251, 242, 229);
}

.coffee-lid {
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  width: 235px;
  height: 42px;
  background-color: grey;
  top: 159px;
  z-index: 2;
  border-radius: 10px;
}

.coffee-lid-upper {
  position: relative;
  z-index: 0;
  height: 29px;
  width: 215px;
  background-color: grey;
  left: 0;
  right: 0;
  margin: auto;
  top: -29px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
