@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
.banner {
  padding: 0 15rem 0 15rem;
  background-color: rgb(255, 123, 0);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section-1,
.section-2 {
  display: flex;
}

.section-2 {
  justify-content: flex-end;
  width: 100%;
}

p.banner-text-orange {
  color: rgb(185, 52, 0);
}

p.banner-text-white {
  padding-left: 0.5em;
  color: white;
}

.navigation-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 15rem 0 15rem;
  background-color: rgb(251, 251, 251);
  height: 6.5rem;
}

.nav-section-1 {
  line-height: 6.5rem;
  font-size: 50px;
  height: fit-content;
  font-family: "Roboto", sans-serif;
}

.nav-section-1 a {
  text-decoration: none;
  color: black;
}

.nav-section-2 {
  display: flex;
  justify-self: center;
  align-items: center;
  width: 100%;
}

.nav-section-2 ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  line-height: 2.5rem;
  height: fit-content;
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
  padding-left: 0px;
  width: 100%;
}

.nav-section-2 a {
  text-decoration: none;
  color: black;
  padding-bottom: 3px;
}

.nav-section-2 a:hover {
  border-bottom: 5px solid rgb(255, 100, 38);
}
.wrapper {
  padding: 0 15rem 0 15rem;
  height: 100%;
}

.body {
  height: 5rem;
  display: flex;
  align-items: center;
}

.b-section-1 a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: grey;
}

.b-section-1 a:last-child {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: black;
}

.body-section-2 h2 {
  margin-bottom: 0.5em;
  color: rgb(236, 153, 0);
}

.body-section-2 p {
  margin: 0px;
  color: rgb(172, 172, 172);
}

.body-section-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

input.name,
textarea {
  width: 100%;
  padding-left: 5px;
}

input.phone,
input.email {
  width: 49%;
  display: inline-block;
  padding-left: 5px;
}

input.email {
  margin-left: 5px;
}

textarea.textarea {
  height: 6rem;
  box-sizing: border-box;
}

textarea.textarea.placeholder {
  padding-top: 1em;
}

input {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  box-sizing: border-box;
}

input.placeholder {
  padding-top: 1em;
  height: fit-content;
}

.contact-us {
  margin-top: 2em;
}
.contact-us h3,
.reach-us h3 {
  font-family: "Roboto", sans-serif;
  color: rgb(236, 153, 0);
}

.contact-us button {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: rgb(236, 153, 0);
  margin-top: 15px;
  margin-top: 15px;
  border-radius: 0;
  font-size: 1em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
  border: none;
}

.reach-us {
  margin-top: 2em;
  padding-left: 5em;
}

.reach-us h4 {
  margin-bottom: 0.5em;
}

.reach-us h4,
p {
  font-weight: 100;
  color: rgb(58, 58, 58);
}

.seperator {
  width: 100%;
  height: 5px;
  background-color: rgb(98, 98, 98);
  margin-bottom: 1em;
}

.reach-us-icons {
  height: fit-content;
  display: flex;
  padding-top: 40px;
}

.square-box-icons-because-lazy {
  width: 25px;
  height: 25px;
  background-color: black;
  margin-right: 10px;
}
