body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
}

.wrapper {
  margin-left: 1.5em;
  margin-right: 1.5em;
  align-items: center;
}

.banner-container {
  text-align: center;
  background-color: #ff0000;
}

.banner-delivery-promo {
  display: flex;
  justify-content: space-evenly;
  background-color: #ff0000;
  height: 2rem;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.banner-delivery-promo p {
  color: white;
  font-weight: 100;
  font-size: 15px;
  margin: auto;
}

.banner-delivery-promo .fas.fa-chevron-right,
.fas.fa-chevron-left {
  color: white;
  font-size: 0.8rem;
  margin: auto;
}

img.nav-images {
  width: 393px;
  height: 130px;
  display: inline-block;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.nav-items-options {
  width: 360px;
}

.account-bar-icon-icons {
  display: flex;
  flex-direction: column;
}

i.fas {
  display: flex;
  justify-content: center;
  color: #ff0000;
  font-size: 1.5rem;
}

.account-bar-icons {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  margin-top: 1em;
  justify-content: space-around;
}

form.search-bar {
  margin-top: 1.5em;
  display: inline-block;
}

.search-bar {
  display: flex;
}

.search-bar-input {
  width: 324px;
  height: 2.5em;
  border: none;
}

button.search-bar-input-button {
  height: 2.6em;
  width: 2.5em;
  position: absolute;
  right: 25px;
  background-color: #da1b00;
  border: none;
}

button.search-bar-input-button .fas.fa-chevron-right {
  margin: auto;
  font-size: 0.8rem;
  color: white;
}

.categories {
  display: inline-block;
  display: flex;
  justify-content: space-around;
  background: #302f30;
  padding: 1em 0em 1em 0em;
  font-size: 1em;
  margin-bottom: 0.8em;
}

.category-items {
  display: inline-block;
  margin: auto;
  font-size: 14px;
}

li.category-items i.fa-chevron-down {
  color: white;
  font-size: 0.8em;
}

li.category-items i.fas {
  display: inline-block;
}

/* Hero Image Section */

img.promo-image {
  width: 100%;
}
